<!DOCTYPE HTML>
<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Help Page</title>

    <link rel="stylesheet" type='text/css' href="../styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Delius+Unicase:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
</head>

<body class="container">

    <header class="header">
        <div class="header-image">
            <img src="../images/mchat.jpg" alt="" class="header-image-1">
            <img src="../images/box.jpg" alt="" class="header-image-2">

        </div>
        <div class="header-text">

            <h1 class="header-heading">Hi!</h1>
            <p class="header-paragraph">I am Jack, your Personal Assistant</p>

            <div class="bot-button">
                <a href="https://m.me/169529783728862" target="_blank" class="bot-button-1">Experience Now</a>
            </div>
        </div>


    </header>

    <div class="features">Features
        <svg class="feature-icon">
            <use xlink:href="../images/sprite.svg#icon-bubbles"></use>
        </svg>
    </div>

    <div class="showcase">
        <svg class="showcase-movie">
            <use xlink:href="../images/sprite.svg#icon-video-camera"></use>
        </svg>

        <svg class="showcase-weather">
            <use xlink:href="../images/sprite.svg#icon-cloud"></use>
        </svg>

        <svg class="showcase-smile">
            <use xlink:href="../images/sprite.svg#icon-smile"></use>
        </svg>
    </div>

    <div class="wta">What to ask</div>

    <div class="middle-container">


        <div class="mc-text-1">
            <span class="mc-text-heading-1">
                <h1>Ask a movie</h1>
            </span>
            <p class="mc-text-paragraph-1">Ask about any movie, and read its story on the go, get information about any movie, Jack has a awesome collection
                of movies</p>
            <div class="icon">
                <svg class="mc-icon-1">
                    <use xlink:href="../images/sprite.svg#icon-quotes-left"></use>
                </svg>
                <p class="mc-icon-text-1">show me all marvel movies</p>
                <svg class="mc-icon-1">
                    <use xlink:href="../images/sprite.svg#icon-quotes-right"></use>
                </svg>

            </div>

        </div>
        <div class="mc-image-1">

            <img class="mc-image" src="../images/chatbot.jpg" alt="">
        </div>


    </div>
    <div class="middle-container-2">

        <div class="mc-image-2">
            <img src="../images/chatbot-2.jpg" alt="" class="mc-image-two">
        </div>
        <div class="mc-text-2">

            <span class="mc-text-heading-2">
                <h1>Ask Weather</h1>
            </span>

            <p class="mc-text-paragraph-2">Ask about Weather, any city or country you want to know, Jack can tell you.</p>

            <div class="icon-2">
                <svg class="mc-icon-1">
                    <use xlink:href="../images/sprite.svg#icon-quotes-left"></use>
                </svg>
                <p class="mc-icon-text-1">can you tell me delhi weather</p>
                <svg class="mc-icon-1">
                    <use xlink:href="../images/sprite.svg#icon-quotes-right"></use>
                </svg>

            </div>

        </div>




    </div>

    <div class="middle-container-3">

        <div class="mc-text-1">
            <span class="mc-text-heading-1">
                <h1>Ask Jokes</h1>
            </span>
            <p class="mc-text-paragraph-1">Feel bored ? Jack has a huge collection of jokes</p>
            <div class="icon">
                <svg class="mc-icon-1">
                    <use xlink:href="../images/sprite.svg#icon-quotes-left"></use>
                </svg>
                <p class="mc-icon-text-1">can you tell me a joke</p>
                <svg class="mc-icon-1">
                    <use xlink:href="../images/sprite.svg#icon-quotes-right"></use>
                </svg>

            </div>

        </div>
        <div class="mc-image-1">

            <img class="mc-image" src="../images/capture4.png" alt="">
        </div>


    </div>


    {{>footer}}





</body>

</html>